/*----FOGLIO DI STILE CONTENENTE LE ANIMAZIONI DEGLI ELEMENTI----*/


/*----  1 esercizio ----*/

.ex-1-square {
    transition: 3s;
}


.ex-1-square:hover {
    background-color: red;
}


/*----  2 esercizio ----*/


.ex-2-squares {
    transition: 3s;
}

.ex-2-squares:active {
    width: 100%;
}







/*----  3 esercizio ----*/
